version: "0.1"
services:
  web-app:
    build: ./web-app # build the Docker image from the Dockerfile in the front-end directory
    ports:
      - 3000:3000 # map port 3000 of host machine to port 3000 of container
    depends_on:
      - machine-learning-client
  machine-learning-client:
    build: ./machine-learning-client
    ports:
      - 2000:2000
    environment:
      - MONGO_DBNAME=example
      - MONGO_URI="mongodb://admin:secret@localhost:27017/example?authSource=admin&retryWrites=true&w=majority"
    depends_on:
      - db
  db:
    image: mongo:4.0-xenial # use a recent version of the official MongoDB image on Docker Hub
    ports:
      - 27017:27017 # map port 27017 of host machine to port 27017 of container
    environment:
      - MONGO_INITDB_ROOT_USERNAME=admin
      - MONGO_INITDB_ROOT_PASSWORD=secret