.button {
    background-color: royalblue;
    color: white;
    border-radius: 5px;
    border: solid royalblue;
    margin-left: 0em;
    height: 2em;
}

label {
    margin-left: 1.5em;
    line-height: 3em;
}

input {
    margin-left: 2em;
    height: 2em;
}